.accordion * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.accordion a {
  text-decoration: none;
  color: inherit;
}
.accordion p {
  font-size: 1.1em;
  text-align: justify;
}
.accordion .description {
  margin: 1em auto 2.25em;
}
.accordion {
  width: 40%;
  min-width: 300px;
  max-width: 400px;
  margin: 1.5em auto;
  color: #333;
}
.accordion h1 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 2.5em;
}
ul.accordion, .accordion ul {
  list-style: none;
  padding: 0;
}
ul.accordion .inner {
  /*overflow: hidden;
  display: none;*/
}
ul.accordion .inner.show {
  display: block;
}
ul.accordion li, .accordion ul li {
  margin: .5em 0;
  float: none;
}
ul.accordion li a.toggle {
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.78);
  color: #fefefe;
  padding: .75em;
  border-radius: 0.15em;
  transition: background .3s ease;
}
ul.accordion li a.toggle:hover {
  background: rgba(0, 0, 0, 0.9);
}
ul.accordion div.inner {
  background: white;
  padding: 1em;
}
